:host {
  width: 100%;
  max-width: 400px;
}

.forgot-password {
  &__header {
    text-align: center;
    margin-bottom: 30px;

    &-title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}
