<div class="forgot-password">
  <div class="forgot-password__header">
    <h3 class="forgot-password__header-title">
      Reset password
    </h3>
  </div>

  <form [formGroup]="form">
    <app-input
      [formControlName]="'password'"
      [title]="'Password'"
      [placeholder]="'Password'"
      [type]="'password'"
      [invalid]="password.invalid && password.touched"
      [validationMessage]="'Please enter your old password'"
      [errorMessage]="'Password is required'"
    ></app-input>

    <app-input
      [formControlName]="'newPassword'"
      [type]="'password'"
      [title]="'New password'"
      [placeholder]="'Password'"
      [invalid]="newPassword.invalid && newPassword.touched"
      [validationMessage]="'Please enter a new password'"
      [errorMessage]="'Password is required'"
    ></app-input>
  </form>

  <button
    type="button"
    class="btn btn-primary w-100 mb-2"
    (click)="onClickChangePassword()"
  >
    Change password
  </button>

  <button
    type="button"
    class="btn btn-outline-secondary w-100 mb-2"
    [routerLink]="appRoutes.AUTH_LOGIN"
  >
    Login
  </button>

  <button
    type="button"
    class="btn btn-outline-secondary w-100"
    [routerLink]="appRoutes.AUTH_REGISTRATION"
  >
    Registration
  </button>
</div>
